@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

body{
    font-family: "Nunito", sans-serif ;
    color: aliceblue;
    background-color: black;
}
.Navbar-stack{
    gap: 2rem;
    /* margin-right: 2rem; */
}
.Form-row{
    height: 100vh;
    justify-content: center;
    padding-top: 10% ;
}
